@import 'variables';
@import 'icons';

.dashboard-useraccount {
    min-height: 1500px;

    div.useradmin {
        margin                : 0;
        padding               : 2% 0 0 0;
        width                 : 100vw;
        display               : flex;
        flex-direction        : row;
        // justify-content    : space-around;
        width                 : 100%;
        // background-color: $color-back;
        background-color      : #FFF9E9;
        color                 : $color-dark;
        font-family           : Oswald;

        section.main-bloc {
            width      : 60%;
            margin-left: 30px;

            div.head {
                display       : flex;
                flex-direction: row;
                align-items   : baseline;

                h2 {
                    font-size: 30px;
                    margin   : 0;
                    padding  : 0;
                }

                a {
                    margin         : 0;
                    padding        : 0 1% 0 2%;
                    text-decoration: none;
                    color          : inherit;

                    &:hover {
                        font-size: 1.1em;
                    }
                }
            }

            div.line {
                width     : 80%;
                border-top: solid 1px $color-dark;
                margin    : 3% 0 3% 0;
            }

            div.user-data {
                margin-left: 10px;

                div.sous-sections {
                    margin: 2% 0 5% 0;

                    div.titles {
                        font-size  : 1.6em;
                        font-weight: bold;
                    }

                    a.description {
                        text-decoration: none;
                        font-size      : 0.8em;
                        color          : inherit;
                    }
                }
            }
        }
    }
}