@import 'variables';
@import 'icons';

div.useradmin {
    margin          : 0;
    padding         : 2% 0 0 0;
    width           : 100vw;
    display         : flex;
    flex-direction  : row;
    justify-content : space-around;
    width           : 100%;
    background-color: $color-back;
    color           : $color-dark;
    font-family     : Oswald;

    aside.aside {
        margin        : 0 0 3% 2%;
        padding       : 0;
        width         : 30%;
        display       : flex;
        flex-direction: column;
        font-size     : 1.2em;



        div.menu {
            display       : flex;
            flex-direction: column;

            h3 {
                font-size: 1.2em;
                padding  : 0;
                margin   : 3% 0 1% 0;
            }

            div.line {
                width     : 50%;
                border-top: solid 1px $color-dark;
                margin    : 3% 0 3% 0;
            }

            a {
                text-decoration: none;
                font-size      : 0.8em;
                color          : inherit;
                padding        : 1% 0 1% 0;
                &:hover{
                    color: $color-light;
                }
            }
        }
    }

    section.main-bloc {
        width: 60%;

        div.head {
            display       : flex;
            flex-direction: row;
            align-items   : baseline;

            h2 {
                margin : 0;
                padding: 0;
            }

            a {
                margin         : 0;
                padding        : 0 1% 0 2%;
                text-decoration: none;
                color          : inherit;

                &:hover {
                    font-size: 1.1em;
                }
            }
        }

        div.line {
            width     : 80%;
            border-top: solid 1px $color-dark;
            margin    : 3% 0 3% 0;
        }

        div.user-data {
            div.sous-sections {
                margin: 2% 0 5% 0;

                div.titles {
                    font-size  : 1.2em;
                    font-weight: bold;
                }

                a.description {
                    text-decoration: none;
                    font-size      : 0.8em;
                    color          : inherit;
                }
            }
        }
    }
}