.dashboard-biography {
    background-color: #ede4be;

    .container-biography {
        background-color: #ede4be;
        font-family: Oswald;
        height: 100%;
        min-height: 700px;
        width: 100%;

        .title {
            margin: 40px;
        }

        .biography {
            margin: 20px;
        }

        form {
            margin: 20px;

            div {
                textarea {
                    border-radius: 6px;
                }
            }

            button {
                width: 60%;
                height: 30px;
            }
        }
    }
}
