@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

div.container-dashboard {

    width           : 17%;
    height          : 1500px, auto;
    border-right    : 1px solid black;
    background-color: #7D8E95;
    color           : white;
    font-size       : 25px;
    font-weight     : 400;
    // font-family     : 'Nunito', sans-serif;
    font-family        : Oswald;

    div {
        padding: 20px;
    }
}