@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

.dashboard-2 {
    font-family      : Oswald;
    background-image : url('./../images/fleurs');
    background-size  : cover;
    background-repeat: no-repeat;

    .delivery-container {
        margin: 50px;

        .title {
            margin-bottom: 50px;

            h1 {}
        }

        form {

            .space-between {
                margin-bottom  : 30px;
                display        : flex;
                justify-content: space-between;

                div {

                    label {
                        padding-right: 50px;
                    }
                }

                div {

                    input {
                        width        : 400px;
                        height       : 30px;
                        border       : 1px solid rgb(206, 203, 203);
                        border-radius: 5px;
                    }
                }
            }

            .trait {
                border       : 1px solid white;
                width        : 600px;
                margin-bottom: 20px;
            }

            div {

                button {
                    width           : 200px;
                    height          : 60px;
                    border          : 2px solid white;
                    border-radius   : 10px;
                    background-color: rgb(207, 182, 39);
                    color           : white;
                    font-size       : 20px;
                }
            }

            div.validation {
                margin-top: 10px;
                margin-left: 10px;
                font-size: 20px;
            }
        }
    }
}