@import "variables";
@import "mixin";

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


    div.container-header {
        @include colors;
        margin: 0;
        padding: 0;
        header {
            font-weight: bold;
            a {
                @include liens;
            }
            
            ul li {
                @include listes;
            }
            background-color: $bg-color;
            font-family: 'Cinzel', serif;

            div {

                text-align: center;

                div.titre {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 60px;
                    padding: 0;
                    margin: 0;
                    @include slogan;

                    h1 {
                        @include titre;

                        @media screen and (min-width : 1024px) {
                            font-size: 3em;
                        }

                    }

                    p {
                        font-size: 12px;
                        padding: 0;
                        margin: 15px;

                        @media screen and (min-width : 1024px) {
                            margin: 0;
                        }
                    }

                    //Taille Ecran
                    @media screen and (min-width : 1024px) {

                        width: 30%;
                        display: block;
                        align-items: start;
                        height: 100px;
                    }
                }

                div.barrerecherche {

                    form {

                        input {
                            background-color: #EDE4BE;
                            border: none;
                            border-bottom: solid 1px;
                            border-left: solid 1px;

                            @media screen and (min-width : 1024px) {
                                width: 80%;
                                font-size: 20px;
                            }
                        }

                        @media screen and (min-width : 1024px) {
                            width: 100%;
                        }
                    }

                    @media screen and (min-width : 1024px) {
                        width: 44%;
                        align-items: center;
                    }
                }

                div.info {
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 5px;

                    img {
                        width: 15px;
                        height: 15px;
                    }

                    div {

                        form {

                            select {
                                background-color: #EDE4BE;
                                border: none;
                                border-bottom: solid 1px;
                            }
                        }
                    }

                    @media screen and (min-width : 1024px) {
                        width: 25%;
                        justify-content: space-evenly;
                        align-items: initial;
                        margin-top: 5px;
                    }
                }

                @media screen and (min-width : 1024px) {
                    display: flex;

                }
            }

            div.navigation {
                border-bottom: 1px solid black;

                ul {
                    padding: 0;
                    margin: 0;


                    li {
                        font-size: 15px;
                        border-bottom: 1px solid black;
                        min-width: 190px;

                        a {
                            display: block;
                        }

                        @media screen and (min-width : 1024px) {
                            border-bottom: none;
                            border-right: 1px solid black;
                            padding-right: 5px;
                            font-size: 16px;
                            width: 100%;
                        }
                    }

                    @media screen and (min-width : 1024px) {
                        display: flex;
                        // width: 60%;
                        justify-content: space-evenly;
                        align-items: center;
                        text-align: center;
                    }

                }

                @media screen and (min-width : 1024px) {
                    height: 30px;
                }
            }
        }
    }

    #trait {
        border-top: 1px solid #000;
        width: 100%;
    }

    input::placeholder {
        color: black;
        font-size: 12px;

        @media screen and (min-width : 1024px) {
            font-size: 15px;
        }
    }


// body {
//     @include colors;
//     margin: 0;
//     padding: 0;

//     .container {
//         header {
//             background-color: $bg-color;
//             font-family: 'Cinzel', serif;

//             div {
//                 @include flex;
//                 justify-content: space-between;



//                 div.titre {
//                     @include slogan;
//                     width: 30%;
//                     min-width: 250px;
//                     max-width: 350px;



//                     h1 {
//                         @include titre;
//                         width: 100%;
//                     }

//                 }

//                 div.barrerecherche {
//                     width: 44%;
//                     min-width: 150px;
//                     max-width: 1000px;

//                     form {
//                         width: 190px;
//                         margin: 15px;

//                         input {
//                             min-width: 150px;
//                             @include barrederecherche;
//                         }
//                     }

//                     // padding-right: 450px;
//                 }

//                 img {
//                     @include logo
//                 }

//                 div.info {
//                     display: flex;
//                     margin-top: 5px;
//                     margin-right: 10px;
//                     justify-content: space-evenly;
//                     width: 25%;
//                     align-items: baseline;
//                 }

//                 @media screen and (min-width : 1074px ) and (max-width : 1073px ){

//                 }


//             }

//             div.navigation {

//                 ul {
//                     @include barredenav;
//                     height: 10px;
//                     align-items: center;

//                     li {
//                         border-right: 1px solid;
//                         padding-right: 10px;
//                         font-size: 1em;

//                         @media screen and (min-width : 790px ) and (max-width : 1065px ){

//                         }

//                         a {
//                             width: 100%;
//                         }

//                     }
//                 }
//             }
//         }
//     }

// #trait {
//     border-top: 1px solid #000;
//     width: 100%;
// }

// input::placeholder {
//     color: black;
//     font-size: 1.2em;
// }
// }