@import "variables";

div.user-login {
    font-family     : Oswald;
    background-color: #dad6da;
    width           : 100%;
    display         : flex;
    flex-direction  : column;
    justify-content : space-around;
    padding         : 1px;

    div.head {
        padding-left: 4%;

        p {
            font-size   : 1.8em;
            font-weight : bold;
            padding-left: 10%;
        }

        div.ligne {
            width     : 80%;
            margin    : 0 auto;
            border-top: 2px solid $color-dark;
        }
    }

    div.blocs {
        display        : flex;
        flex-direction : row;
        justify-content: center;

        div.left-bloc {
            p {
                font-weight: bold;
            }

            background-color: $color-back;
            width           : 40%;
            display         : flex;
            flex-direction  : column;
            margin          : 25px;
            padding         : 10px;


            form.connection-bloc {
                display       : flex;
                flex-direction: column;
                align-items   : center;

                label {
                    width      : 100%;
                    height     : 50px;
                    display    : flex;
                    align-items: center;
                }

                input {
                    width           : 90%;
                    display         : flex;
                    height          : 30px;
                    background-color: inherit;
                    border          : 0.5px solid $color-dark;
                }

                a {
                    text-decoration: none;
                    color          : inherit;
                    width          : 90%;
                    margin         : auto;
                    height         : 50px;
                    display        : flex;
                    align-items    : center;

                    &:hover {
                        font-size: 1.1em;
                    }
                }

                button#connect-button {
                    width           : 100%;
                    height          : 50px;
                    border          : none;
                    background-color: $color-text;
                    color           : $color-back;
                    font-weight     : bold;
                }
            }
        }

        div.right-bloc {
            background-color: $color-back;
            width           : 40%;
            display         : flex;
            flex-direction  : column;
            margin          : 25px;
            padding         : 10px;

            button#create-account {
                width           : 100%;
                height          : 50px;
                border          : none;
                background-color: $color-text;
                color           : $color-back;
                font-weight     : bold;

                &:hover {
                    font-size: 0.85em;
                }
            }
        }
    }
}