@mixin colors {
    color: $font-color;
}


@mixin font-size {
    font-size: $font-size;

}

@mixin liens {
    text-decoration: none;
    color: inherit;
}

@mixin listes {
    list-style: none;
}

@mixin flex {
    display: flex;
}

@mixin titre {
    // color: #427E84;
    color: #479698;
    text-shadow: 10px;
    font-weight: bold;
    margin: 5px;
    font-size: 25px;
}

@mixin slogan {
    align-items: center;
    display: flex;
    // justify-content: center; align en horizontal
    flex-wrap: wrap;
    text-align: center;
}

@mixin logo {
    width: 20px;
    height: 20px;
}

@mixin barrederecherche {
    display: flex;
    justify-content: start;
    height: 30px;
    background-color: #EDE4BE;
    border :none;
    border-left: 1px solid;
    margin-top: 15px;
}

@mixin barredenav {
    display : flex;
    // flex-wrap: wrap;
    padding: 0px;
    margin-left: 10px;
    justify-content: space-between;
    width: 50%;
    font-size: bold;
    padding-left: 0px;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}