@import "variables";

    div.artiste {
        margin          : 0;
        padding         : 0;
        display         : flex;
        flex-direction  : column;
        background-color: $color-light;
        color           : $color-back;
        font-family     : Oswald;

        div.line {
            padding   : 0;
            margin    : 1% auto;
            width     : 50%;
            border-top: solid 1px $color-back;
        }

        div.banner {
            padding   : 0;
            margin    : auto;
            width     : 50%;
            text-align: center;

            div.authorname {
                font-size  : 2.5em;
                font-weight: 700;
            }


            div.authorcountry {
                padding    : 0 2% 2% 0;
                margin     : auto;
                font-size  : 1.6em;
                font-weight: 700;
            }

            div.bio {
                text-align : justify;
                font-weight: 200;
            }
        }

        div.social {
            margin : auto;
            padding: 15px;

            a{
                text-decoration: none;
                color: inherit;
                i {
                    margin: 5px 10px;
                }
            }
        }

        div.galerie {
            margin         : 0;
            padding        : 0;
            display        : flex;
            width          : 100%;
            justify-content: space-around;
            flex-wrap      : wrap;

            figure {
                margin : 2% 0.5%;
                padding: 0;
                height: 400px;
                padding: 1%;
                box-shadow: 0 0 20px $color-dark;
                
                img {
                    height: 350px;
                    width : auto;
                    display: block;
                    margin: auto;
                }

                figcaption {
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.2em;
                    font-weight: 200;
                    div.price{
                        font-weight: 400;
                    }
                }
            }
        }
    }

    div.presentation{
        margin          : 0;
        padding         : 0;
        display         : flex;
        flex-direction  : column;
        background-color: $color-light;
        color           : $color-back;
        font-family     : Oswald;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        div.bloc{
            height: 40vh;
            width: auto;
            display: flex;
            flex-direction: column;
            margin: 3%;
            padding: 1%;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 20px $color-dark;
        }
        img{
            height: 90%;
            width: auto;
            margin: auto;
            display: block;
        }
        a{
            font-size: 1.5em;
            font-weight: 200;
        }
    }