$bg-color: #EDE4BE;
$font-color: black;
$widthform : 500px;

$font-size: 1.2em;

$espace: space-between;

$flex: flex;

$color-text      : #a5434a;
$color-back      : #e7e7e7;
$color-dark      : #333A42;
$color-light     : #687079;
$color-yellow    : #EDE4BE;
$color-darkyellow: #aca06c;
$color-font      : #479698;

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

span.required{
    color: $color-text;
    font-weight: bold;
    padding: 1%;
}

div.ligne {
    margin: 0;
    padding: 0;
    border-top: 1px solid $color-dark;       
}

